.create-car-container {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 5px 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.create-car-name{
    flex-shrink: 1;
}

.create-car-price {
    position: absolute;
    top: 80vh;
    left: 50px;
    width: 300px;
    height: 80px;
    background-color: rgba(115, 2, 12, 0.8);
    border: 3px solid black;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2em;
}
